.additional-information {
    margin: 0;
    color: $gray-1;
    font-size: $font-20;
    line-height: $line-height-l;
    font-weight: $weight-500;
}

.upsell--information {
    color: $secondary-color;
}