* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.main.wrapper {
    padding-left: 0;
    padding-right: 0;
}

.wrapper {
    padding-left: $padding-l;
    padding-right: $padding-l;
}

@media screen and (min-width: 992px) {
    .wrapper {
        padding-left: $padding-special;
        padding-right: $padding-special;
    }

    .main.wrapper {
        padding-left: $padding-special;
        padding-right: $padding-special;
    }


    .hero.wrapper,
    .press.wrapper,
    .showcase.wrapper,
    .hero-bottom.wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}