* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    height: 100%;
    padding: 0 32px;
}