.dropdown {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-1000px);
    transition: transform 300ms ease-in-out;
    z-index: 100;

    &.active {
        transform: translateY(0);
    }
}
