.header {
    height: 104px;
    padding-top: $padding-l;
    padding-bottom: $padding-l;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__navigation {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .header {
        padding-top: 80px;

    }
}