.hero {
    padding-top: $padding-xxl;
    padding-bottom: $padding-xxl;
    position: relative;
    

    &__content {
        max-width: 78%;
        display: flex;
        flex-direction: column;
    }

    &__image {
        height: 360px;
        position: absolute;
        top: -18px;
        right: -174px;
        z-index: -1;
    }
}
