.hero {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    
    

    &__content {
        max-width: 78%;
        display: flex;
        flex-direction: column;
    }

    &__image {
        
        height: 360px;
        position: absolute;
        top: -18px;
        right: -174px;
        z-index: -1;
    }
}
