.dropdown {
    .list-item {
        &:not(:last-child) {
            margin-bottom: $margin-l;
        }
    }
}

.press {

    .list-item {

        &:nth-of-type(2),
        &:nth-of-type(5) {
            justify-self: end;
        }
    }
}

.hidden--icon {
    display: none;
}

.nft-list {
    .list-item {
        width: 290px;

        &:not(:last-child) {
            margin-right: $margin-xxl;
        }
    }
}

.footer {
    &__social {
        .list-item {
            &:not(:last-child) {
                margin-right: $margin-s;
            }
        }
    }

    &__list-section {
        .list-item {
            margin-top: $margin-s;

            &:first-child {
                margin-top: $margin-xs;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .header__navigation {
        .list-item {
            &:not(:first-child) {
                margin-left: $margin-xs;
            }

            &:not(:last-child) {
                margin-right: $margin-s;
            }
        }
    }

    .press {
        .list-item {
            &:not(:last-child) {
                margin-right: $margin-xs;
            }
        }

        .hidden--icon {
            display: inline;
        }
    }
}