.list-link {
    text-decoration: none;
}

.header {
    .list-link {
        color: $gray-2;
        font-size: $font-20;
        line-height: $line-height-s;
        font-weight: $weight-400;
        text-transform: capitalize;
        transition: all 200ms ease;

        &:hover {
            opacity: 0.5;
        }
    }


    .link--special {
        color: $special-1;
    }
}

.footer {
    &__list-section .list-link {
        color: $gray-1;
        font-size: $font-20;
        line-height: $line-height-s;
        font-weight: $weight-400;
    }
}
