.nft-content {
    padding: $padding-m;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .content--left {
        justify-self: start;
        line-height: 1;
    }

    .content--right {
        justify-self: end;
        line-height: 1;
    }

    &__top {
        color: $special-2;
        font-size: $font-12;
        font-weight: $weight-500;
        text-transform: uppercase;
    }

    &__mid {
        color: $secondary-color;
        font-size: $font-20;
        font-weight: $weight-500;
    }

    &__bottom {
        color: $gray-3;
        font-size: $font-18;
        font-weight: $weight-400;

    }

    &__top.content--left {
        margin-bottom: $margin-xs;
    }

    &__top.content--right {
        margin-bottom: $margin-xs;
        color: $gray-3;
    }

    &__mid.content--left {
        margin-bottom: $margin-xs;
        text-transform: capitalize;
    }

    &__mid.content--right {
        margin-bottom: $margin-xs;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
}