.nft-content {
    padding: $padding-m;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .content--left {
        justify-self: start;
        line-height: 1;
    }

    .content--right {
        justify-self: end;
        line-height: 1;
    }

    &__top {
        margin-bottom: $margin-xs;
        color: $special-2;
        font-size: $font-12;
        font-weight: $weight-500;
        text-transform: uppercase;

        &.content--right {
            color: $gray-3;
        }
    }

    &__mid {
        margin-bottom: $margin-xs;
        color: $secondary-color;
        font-size: $font-20;
        font-weight: $weight-500;

        &.content--left {
            text-transform: capitalize;
        }

        &.content--right {
            display: flex;
            align-items: center;
            text-transform: uppercase;
        }
    }

    &__bottom {
        color: $gray-3;
        font-size: $font-18;
        font-weight: $weight-400;

    }
}