.press {
    padding: 68px 0 58px 0;
    height: 238px;

    &__list {
        height: 100%;
        padding-left: 0;
        list-style: none;
        display: grid;
        column-gap: 10px;
        align-items: center;
        justify-items: start;
        grid-template-columns: repeat(2, 1fr)
    }

    &__icon {
        width: 100%;
    }

    .hidden--icon {
        display: none;
    }
}
