.showcase {
    padding-top: $padding-s;
    padding-bottom: $padding-xxxl;
    border-bottom: 2px solid $light;

    &__nft-section {
        padding-top: $padding-xl;
        padding-bottom: $padding-m;
        overflow-y: scroll;
        scrollbar-color: $primary-color $primary-color;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            visibility: hidden;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
        }

        &:hover {
            visibility: visible;
            scrollbar-color: $gray-3 $primary-color;

            &::-webkit-scrollbar-thumb {
                background-color: $gray-3;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .showcase {
        padding-top: $padding-xl;

        &__nft-section {
            padding-top: 56px;
            padding-bottom: 56px;
        }
    }
}