.sign-button {
    text-decoration: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 22px 56px 22px 56px;
    border: 4px solid;
    border-radius: 30px;
    border-image-slice: 3;
    border-image-source: linear-gradient(to left, #c85700, #ffe359);
}