.upsell {
    padding-top: 40px;
    padding-bottom: 32px;
    background: rgb(212,72,145);
    background: linear-gradient(45deg, rgba(212,72,145,1) 0%, rgba(198,134,38,1) 62%, rgba(136,181,80,1) 100%);
}
