.upsell {
    padding-top: $padding-xxxl;
    padding-bottom: $padding-l;
    min-height: 326px;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
