$primary-color: white;
$secondary-color: black;
$light: rgba(238, 238, 238, 1);
$gray-1: rgba(85, 85, 85, 1);
$gray-2: rgba(153, 153, 153, 1);
$gray-3: rgba(119, 119, 119, 1);
$special-1: rgba(255, 57, 152, 1);
$special-2: rgba(255, 129, 57, 1);

$margin-xxs: 8px;
$margin-xs: 12px;
$margin-s: 16px;
$margin-m: 20px;
$margin-l: 24px;
$margin-xl: 32px;
$margin-xxl: 40px;
$margin-xxxl: 64px;

$padding-s: 16px;
$padding-m: 24px;
$padding-l: 32px;
$padding-xl: 40px;
$padding-xxl: 48px;
$padding-xxxl: 64px;
$padding-special: 80px;

$font-12: 12px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-40: 40px;
$font-44: 44px;

$line-height-s: 1;
$line-height-m: 1.2;
$line-height-l: 1.5;

$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-900: 900;