* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  padding: 0 32px;
}

@media screen and (min-width: 992px) {
  .wrapper {
    padding: 0 80px;
  }
}
.header {
  height: 104px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__navigation {
  display: none;
}

@media screen and (min-width: 992px) {
  .header {
    padding-top: 80px;
  }
}
.page-logo__icon {
  height: 36px;
  width: 198px;
}

.dropdown {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.dropdown.active {
  display: block;
}

.burger {
  width: 24px;
  height: 22px;
  cursor: pointer;
  position: relative;
  z-index: 200;
}
.burger .list-item {
  margin-top: 3px;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: rgb(153, 153, 153);
  transition: all 400ms ease;
}
.burger.active .list-item:first-child {
  transform: rotate(225deg);
  position: absolute;
  top: 5px;
}
.burger.active .list-item:last-child {
  transform: rotate(-225deg);
  position: absolute;
  top: 5px;
}
.burger.active .list-item:nth-child(2) {
  opacity: 0;
}

.u-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list--dropdown {
  padding: 32px 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  position: fixed;
  z-index: 100;
}

.list--press {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: repeat(2, 1fr);
}

.list--social {
  display: flex;
}

.footer--list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .dropdown {
    display: none;
  }
  .list--header {
    display: flex;
    gap: 28px;
  }
  .list--header .list-link {
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: rgb(85, 85, 85);
  }
  .list--header .link--sign {
    color: rgb(255, 57, 152);
  }
}
.dropdown .list-item {
  padding: 16px;
}

.press .list-item:nth-of-type(2),
.press .list-item:nth-of-type(5) {
  justify-self: end;
}

.hidden--icon {
  display: none;
}

.nft-list .list-item {
  margin-left: 20px;
  margin-right: 20px;
  width: 290px;
}
.nft-list .list-item:first-child {
  margin-left: 0;
}
.nft-list .list-item:last-child {
  margin-right: 0;
}

.footer__social .list-item:not(:last-child) {
  margin-right: 16px;
}
.footer__list-section .list-item:first-child {
  margin-top: 12px;
}
.footer__list-section .list-item:not(:last-child) {
  margin-bottom: 16px;
}

.list-link {
  text-decoration: none;
}

.header .list-link {
  color: rgb(153, 153, 153);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}
.header .list-link:hover {
  opacity: 0.5;
}
.header .link--special {
  color: rgb(255, 57, 152);
}

.footer__list-section .list-link {
  color: rgb(85, 85, 85);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

.main {
  padding-top: 50px;
}

.hero {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
}
.hero__content {
  max-width: 78%;
  display: flex;
  flex-direction: column;
}
.hero__image {
  height: 360px;
  position: absolute;
  top: -18px;
  right: -174px;
  z-index: -1;
}

.launching-tag {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgb(255, 57, 152);
  text-transform: uppercase;
}

.heading {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
}

.additional-information {
  margin: 0;
  color: rgb(85, 85, 85);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.upsell--information {
  color: black;
}

.sign-button {
  margin-top: 40px;
  margin-bottom: 32px;
  padding: 24px 32px;
  max-width: 196px;
  min-width: 156px;
  color: black;
  border: 4px solid transparent;
  border-radius: 50px;
  background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgb(255, 64, 86) 0%, rgb(253, 79, 79) 20%, rgb(237, 126, 71) 60%, rgb(193, 164, 89) 100%) border-box;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.upsell {
  padding-top: 64px;
  padding-bottom: 32px;
  min-height: 326px;
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-heading {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
}

.press {
  padding-top: 64px;
  padding-bottom: 24px;
}
.press__icon {
  width: 100%;
}

.showcase {
  padding-top: 16px;
  padding-bottom: 64px;
  border-bottom: 2px solid rgb(238, 238, 238);
}
.showcase__nft-section {
  padding-top: 40px;
  padding-bottom: 24px;
  overflow-y: scroll;
}

.opensea-link {
  color: rgb(85, 85, 85);
  font-weight: 500;
}

.nft-list {
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
}

.nft-card {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.nft-content {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nft-content .content--left {
  justify-self: start;
  line-height: 1;
}
.nft-content .content--right {
  justify-self: end;
  line-height: 1;
}
.nft-content__top {
  color: rgb(255, 129, 57);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.nft-content__mid {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.nft-content__bottom {
  color: rgb(119, 119, 119);
  font-size: 18px;
  font-weight: 400;
}
.nft-content__top.content--left {
  margin-bottom: 12px;
}
.nft-content__top.content--right {
  margin-bottom: 12px;
  color: rgb(119, 119, 119);
}
.nft-content__mid.content--left {
  margin-bottom: 12px;
  text-transform: capitalize;
}
.nft-content__mid.content--right {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.eth-icon {
  margin-right: 8px;
  width: 13px;
  height: 22px;
}

.hero-bottom {
  padding-top: 48px;
  padding-bottom: 32px;
  min-height: 550px;
  position: relative;
}
.hero-bottom__content {
  max-width: 58%;
  display: flex;
  flex-direction: column;
}
.hero-bottom__image {
  position: absolute;
  bottom: 0;
  right: -40px;
  z-index: -1;
}
.hero-bottom ::before {
  content: "";
  border-bottom: 1px solid rgba(90, 90, 90, 0.064);
  position: absolute;
  left: 0;
  right: 0;
  top: 270px;
}

.footer {
  padding-bottom: 64px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}
.footer__social .additional-information {
  margin-top: 32px;
  margin-bottom: 32px;
}
.footer__navigation {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer__list-section:nth-of-type(3), .footer__list-section:nth-of-type(4) {
  margin-top: 40px;
}
.footer__bottom {
  margin-top: 64px;
}
.footer__bottom-copyright, .footer__bottom-launch {
  color: rgb(153, 153, 153);
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}
.footer__bottom-launch {
  display: none;
}

.social-icon {
  height: 18px;
  width: 18px;
  color: rgb(153, 153, 153);
}

.list-heading {
  margin-top: 0;
  margin-bottom: 16px;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

/*# sourceMappingURL=index.css.map */
